@for (server of servers(); track $index) {
    <div class="server-card" [title]="server.name" [routerLink]="['/server', server.id]">
        <img [src]="server.icon_url || '/server-default.svg'" height="90" width="90" alt="Server Icon" class="server-icon" />
    </div>
}
<div class="server-card" title="Add Server" (click)="showCreateServerModal = true">
    <img [src]="'/server-add.svg'" height="90" width="90" alt="Add Server Icon" class="server-icon" />
</div>

@if (showCreateServerModal) {
    <app-modal (closed)="closeCreateServerModal()">
        <app-create-server (createdServer)="closeCreateServerModal()"></app-create-server>
    </app-modal>
}
