@use '../../../../mixins';

.send-button {
    padding: 8px 18px;
    background: mixins.$primary;
    color: mixins.$text;
    border: none;
    border-radius: 4px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s;
}
.send-button:hover {
    background: mixins.$primary-hover;
}
