@import '../../../mixins';

.navbar {
    display: flex;
    gap: 1rem;
    background: $bg-secondary;
    padding: 0.5rem 1rem;
    border-bottom: 1px solid $bg-secondary-hover;
}

.nav-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    background: none;
    border: none;
    color: $text-light;
    font-size: 1rem;
    padding: 0.5rem 1rem;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.2s;
}

.nav-btn:hover {
    background: $bg-secondary-hover;
}
