<input type="text" class="input" placeholder="Search for users..." [(ngModel)]="search" (input)="onSearchInput()" />
@for (user of users(); track $index) {
    <div class="user">
        @if (user.FS_Status === 'pending') {
            <button class="button" disabled>Pending</button>
        } @else if (user.FR_Status === 'pending') {
            <button class="button" (click)="friendAction(user.id, 'accept')">Accept</button>
            <button class="button" (click)="friendAction(user.id, 'reject')">Deny</button>
        } @else if (user.FS_Status === 'accepted' && user.FR_Status === 'accepted') {
            <button class="button" disabled>Friends</button>
        } @else {
            <button class="button" (click)="friendAction(user.id, 'add')">Add</button>
        }
        {{ user.username }}
    </div>
}
